html {
    width: 1280px;
    height: 720px;
    overflow: hidden;
}

main {
    width: 100%;
    height: 100%;

    background-image: url('images/BigBad-Wolf-720x1280.jpeg');

    color: white;
}

#title-grid-container {
    position: absolute;

    -webkit-mask-image: linear-gradient(to top, black 60%, transparent 80%);

    top : 100px;
}

#title-grid-content {

}

.title-grid-row {
    position: relative;

    transform : translate3d(-100px, 0, 0);

    transition: transform 1s;

    height : 236px;

    overflow: hidden;
    white-space: nowrap;

    padding-top: 25px;
    padding-bottom: 25px;
}

.title-grid-row-item {
    display: inline-block;
    height : 236px;
    width : 166px;
    margin-left : 20px;
    background-image: url('images/166x236.gif');
}

#title-grid-row-focus-area {
    outline: 4px solid blue;
    position: fixed;

    height: 256px;
    width: 186px;
    left: 100px;
    bottom: 59px;
}

.focused {
    outline: 6px solid purple;
}
